@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

:host {
  position: absolute;

  scrollbar-width: thin;

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
  }

  ::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
    min-height: 40px;
  }
}


.no-padding {
  padding: 0 !important;
}

.mdc-menu {
  overflow-x: hidden;
}
